<p>
  <mat-toolbar fxLayoutAlign="space-between center">
    <div fxLayoutAlign="space-between center">
      <span class="iconNavbar"><mat-icon>account_balance</mat-icon></span>
    <span class="textNavbar">Banco Oswaldo</span>
    </div>
   
  </mat-toolbar>
</p>
<div fxLayout="row wrap">
  <mat-tab-group fxFlex="100"  fxFlex.gt-sm="70">
    <mat-tab label="Crear cliente">
      <div id="formularioHome" fxFlex="100">
        <form [formGroup]="formularioPrincipal" fxLayout="column">
          <div fxLayout="row wrap"  fxFlex fxLayoutGap="30">
            <div >
              <mat-form-field class="nombre" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" matInput placeholder="nombre" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="email" appearance="outline">
                <mat-label>Correo</mat-label>
                <input
                  formControlName="email"
                  type="email"
                  matInput
                  placeholder="Email"
                  
                />
               
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="cedula" appearance="outline">
                <mat-label>Cedula</mat-label>
                <input
                  formControlName="cedula"
                  type="number"
                  matInput
                  placeholder="Cedula"
                />
              </mat-form-field>
            </div>
            <div>
              <app-solicitud></app-solicitud>
             </div>
          </div>
          
         
          
          <button
            mat-raised-button
            [disabled]="validacionFormulario()"
            (click)="guardarPersonas()"
            color="primary"
          >
            Guardar
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Listar cliente">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
          <th class="columnTable" mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
  
        <ng-container matColumnDef="valorSolicitado">
          <th class="columnTable" mat-header-cell *matHeaderCellDef>Valor solicitado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorSolicitado }}
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th class="columnTable" mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button color="accent" [ngClass]="{'checkPago':desabilitarPago(element)}" [disabled]="desabilitarPago(element)" (click)="pagar(element)">
              {{desabilitarPago(element)?'Pagado': 'Pagar'}}
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
  <div fxFlex="100" fxFlex.gt-sm="30">

    <mat-card class="example-card">
      <mat-card-title>Monto actual del banco</mat-card-title>
     
      <mat-card-content>
        <p class="montoBanco">  {{ saldoActualBanco | currency:'$'  }}</p>
     
      </mat-card-content>
  
    </mat-card>
   
  </div>
</div>

